<?xml version="1.0" encoding="UTF-8"?>
<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>SpringRSDemo</display-name>
	
	<listener>
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
	    <param-name>contextClass</param-name>
	    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>org.freecode.demo.AppConfig</param-value>
	</context-param>
	
	<servlet>
	  <servlet-name>SpringWebServlet</servlet-name> <!-- for Web, MVC or REST Web Service -->
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  
	  <!-- 
	  <init-param>
	      <param-name>contextClass</param-name>
	      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	  </init-param>
	  -->
	  <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value></param-value>
	  </init-param>
	  <!-- // below block is the XML-based configuration for Spring Web applications 
	  <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>/WEB-INF/spring/SpringRSDemo-servlet.xml</param-value>
	  </init-param>
	  -->
	  <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>SpringWebServlet</servlet-name>
	  <url-pattern>/rs/*</url-pattern> <!-- NOTE: do not use /* because then DispatcherServlet will look for all URLs as servlet rather than Spring Controllers -->
	  <!-- 
	    The /* on a servlet overrides all other servlets, including all servlets provided by the servletcontainer such as the default servlet and the JSP servlet.
		The / doesn't override any other servlet. It only replaces the servletcontainer's builtin default servlet for all requests which doesn't match any other registered servlet.
		Then there's also the empty string URL pattern . This will be invoked when the context root is requested.
	  -->
	</servlet-mapping>
	
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

</web-app>