<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	                    http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-4.3.xsd" >
    <context:annotation-config />

    <bean id="knowledgePoint" class="org.freecode.demo.model.KnowledgePoint" />
    <bean id="knowledgeBase" class="org.freecode.demo.model.KnowledgeBaseDAO" />
    
    <!-- below definitions replaced by annotations -->
    <!-- return type can be void or * for any types. ".." means any parameters in the method -->
<!--     <bean id="timeLogger" class="org.freecode.demo.aop.TimestampLog"></bean> -->
<!--     <aop:config> -->
<!--         <aop:pointcut expression="execution(* org.freecode.demo.model.KnowledgeBaseDAO.findKnowledgeByKeyword(..))" id="logFindByKeywordTime"/> -->
<!--         <aop:aspect id="timeLoggerAspect" ref="timeLogger"> -->
<!--             <aop:before method="printOutSystemTime" pointcut="execution(* org.freecode.demo.model.KnowledgeBaseDAO.findKnowledgeByKeyword(..))"/> -->
<!--             <aop:after method="printOutSystemTime" pointcut-ref="logFindByKeywordTime"/> -->
<!--         </aop:aspect> -->
<!--     </aop:config> -->
    
    <!-- replac AppConfig.java -->
    <aop:aspectj-autoproxy />
    <context:component-scan base-package="org.freecode.demo.aop"></context:component-scan>
</beans>