<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-4.3.xsd
	                    http://www.springframework.org/schema/tx
	                    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd" >
    <context:annotation-config />

    <!-- single connection, not the connection pool -->
    <!-- 
    <bean id="appDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${dbDriver}"></property>
        <property name="url" value="${dbURL}"></property>
        <property name="username" value="${dbUser}"></property>
        <property name="password" value="${dbPassword}"></property>
    </bean>
    -->
    
    <context:property-placeholder location="classpath:db.properties" />
    <context:component-scan base-package="org.freecode.demo" />
    
    <!-- use 3rd party library for connection pool functionality -->
    <bean id="basicDS" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${dbDriver}"></property>
        <property name="url" value="${dbURL}"></property>
        <property name="username" value="${dbUser}"></property>
        <property name="password" value="${dbPassword}"></property>
    </bean>
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="basicDS"></property> <!-- property name dataSource is keyword -->
    </bean>
    
    <!-- below XML configuration of cityDAO is replaced by Annotations - @Repository, @Autowire
    <bean id="cityDAO" class="org.freecode.demo.model.CityDAO">
        <property name="namedParamJdbcTemp" ref="basicDS"></property>
        <property name="jdbcTemp" ref="basicDS"></property>
    </bean>
    -->
    
    <!-- use JPA -->
    <bean id="emFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="basicDS"></property> <!-- dataSource is the property name -->
        <property name="persistenceUnitName" value="xprojdb"></property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="packagesToScan" value="org.freecode.demo"></property>
    </bean>

    <bean id="jpaTxMgr" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="emFactory"></property> <!-- entityManagerFactory is the property name -->
    </bean>
    
    <!-- 
    <bean id="locationService" class="org.freecode.demo.service.LocationService" autowire="byType" >
    </bean>
    -->
    
    <tx:annotation-driven />
</beans>