<?xml version="1.0" encoding="UTF-8"?>
<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>SpringMVCDemo</display-name>
	
	<listener>
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/spring/springmvcdemo-service.xml</param-value>
	</context-param>
	
	<servlet>
	  <servlet-name>SpringMVCDemo</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>/WEB-INF/spring/springmvcdemo-servlet.xml</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>SpringMVCDemo</servlet-name>
	  <url-pattern>/controller/*</url-pattern> <!-- NOTE: do not use /* because it may be too wild -->
	</servlet-mapping>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

</web-app>